<table class='table'>
  <thead>
    <tr>
      <th>
        LabID
      </th>
      <th>
        PatientID
      </th>
      <th>
        ProviderID
      </th>
      <th>
        MFLCode
      </th>
      <th>
        AMRslocationID
      </th>
      <th>
      PatientNames
      </th>
      <th>
      DateCollected
      </th>
      <th>
        DateReceived
      </th>
      <th>
      DateTested
      </th>
      <th>
      Result
      </th>
      <th>
        FinalResult
      <th>
      DateDispatched
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="result in results">
      <td>
        {{result.LabID}}
      </td>
      <td>
        {{result.PatientID}}
      </td>
      <td>
        {{result.ProviderID}}
      </td>
      <td>
        {{result.MFLCode}}
      </td>
      <td>
        {{result.AMRslocationID}}
      </td>
      <td>
        {{result.PatientNames}}
      </td>
      <td>
        {{result.DateCollected}}
      </td>
      <td>
        {{result.DateReceived}}
      </td>
      <td>
        {{result.DateTested}}
      </td>
      <td>
        {{result.Result}}
      </td>
      <td>
        {{result.FinalResult}}
      </td>
      <td>
        {{result.DateDispatched}}
      </td>
    </tr>
  </tbody>
</table>
